@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2021 TechNobo (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.*@

@inject IJSRuntime _jsRuntime

@using TcNo_Acc_Switcher_Server.Data
@using System.Runtime.InteropServices
@inject AppData _appData
@inject ILanguageContainerService  _locale

<div class="modalBG" onclick="if (event.target === this)$('.modalBG').fadeOut();" style="display: none;">
    <div class="modalFG">
        <div id="window-title-modal">
            <svg draggable="false" class="modal_header_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 768 264" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
                <use href="img/TcNo_Logo_Flat.svg#logo"></use>
            </svg>
            <span id="modalTitle">@_locale["Modal_Header"]</span>
            <div id="window-controls-modal">
                <button id="btnClose-modal" onclick="$('.modalBG').fadeOut();">
	                <img class="icon" srcset="img/icons/close-w-10.png 1x, img/icons/close-w-12.png 1.25x, img/icons/close-w-15.png 1.5x, img/icons/close-w-15.png 1.75x, img/icons/close-w-20.png 2x, img/icons/close-w-20.png 2.25x, img/icons/close-w-24.png 2.5x, img/icons/close-w-30.png 3x, img/icons/close-w-30.png 3.5x" draggable="false" alt="x"/></button>
            </div>
        </div>
        <div id="modal_contents">

        </div>
    </div>
</div>