.contextmenu {
  display: none;
  position: absolute;
  width: 15em;
  margin: 0;
  padding: 0;
  background: #14151E;
  border-radius: 0.2em;
  list-style: none;
  box-shadow: 0 15px 35px rgba(50, 50, 90, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  z-index: 999999;
}

.contextmenu li {
  border-left: 1em solid transparent;
  transition: ease .2s;
}

.contextmenu li a {
  display: block;
  padding: 10px;
  color: #B9C9DD;
  text-decoration: none;
  transition: ease .2s;
}

.contextmenu li:hover {
  background: #1B2737;
  border-left: 2px solid #364E6E;
}

.contextmenu li:hover a {
  color: #FFFFFF;
}

.submenu {
  display: none;
}

li:hover .submenu {
  position: absolute;
  display: block;
  top: 0px;
  width: 15em;
  right: -15em;
  background: #14151E;
  padding: 0;
  display: block;
  opacity: 1;
  font-size: 1em;
  animation: expand 0.3s;
}

@keyframes expand {
  from {
    width: 13em;
    margin-right: 2em;
    font-size: 1em;
  }
  to {
    width: 15em;
    margin-right: 0;
    font-size: 1em;
  }
}

.submenu li {
  list-style: none;
  color: #B0BEC5;
}

.submenu li a {
  color: #B0BEC5 !important;
}

.contextmenu {
}

