::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1F202D;
}

::-webkit-scrollbar-thumb {
  background: #515164;
  border-radius: 0.3em;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

