old
.task
.codegraph/
bin
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
todo.txt
/frontend/bindings
TcNo-Acc-Switcher.exe
*.af
*.af~lock~
*.syso
.fallowrc.json
basic.test.exe
/frontend/.vite

updater-key
/docs

docs/RELEASING.md
/.cache
/.pnpm-store
/.pnpm-store
