[INDEV VERSION]
THIS IS NOT THE LIVE MAIN BRANCH OF TCNO ACCOUNT SWITCHER AND IS NOT INTENDED TO BE SO UNTIL FINAL RELEASE!

Installation:
This copy is a portable version. Just extract the entire folder into a place you won't delete it.
You'll have the option to create a Desktop/Start menu shortcuts in the options menu.

Find more information on GitHub: https://github.com/TcNobo/TcNo-Acc-Switcher
Join the Discord for bug reports/feature requests: https://s.tcno.co/AccSwitcherDiscord
  - This is a short link so it can be updated if needed later.
  - It's recommended to join, and select to be notified for updates, incase the auto-updater doesn't work as expected.

To use the program, you need the corresponding .NET Framework runtime. Those can be found below:
[Either will work. Offline is a larger download, but shouldn't download anything while installing]

.NET 5 Desktop Runtime:
- x64: https://dotnet.microsoft.com/download/dotnet/thank-you/runtime-desktop-5.0.3-windows-x64-installer
- x86: https://dotnet.microsoft.com/download/dotnet/thank-you/runtime-desktop-5.0.3-windows-x86-installer

Microsoft Edge WebView2 Runtime:
- Evergreen Bootstrapper (Auto version select): https://go.microsoft.com/fwlink/p/?LinkId=2124703
- You can download the offline installer for x64, x86 from here, if you don't like the link above [See: Evergreen Standalone Installer]: https://developer.microsoft.com/en-us/microsoft-edge/webview2/