/*
    Dracula Cyan (Default) theme
    - Created by TroubleChute

    This file is temporarily here before theming is implemented properly.
*/
:root {
    --code: #263440;
    --code-background: #131a20;
    --darker-code-background: #0f151a;
    --even-darker-code-background: rgb(6, 8, 10);
    --shadow: 0 4px 10px -6px #010101;
    --black: #21222c;
    --blackSecondary: #414558;
    --blackTernary: #a7abbe;
    --blackLight: hsla(230,15%,15%,5%);
    --white: #f8f8f2;
    --whiteSecondary: #fff;
    --whiteLight: hsla(60,30%,96%,5%);
    --cyan: #80ffea;
    --cyanSecondary: #ccfff6;
    --cyanLight: hsla(170,100%,75%,5%);
    --green: #8aff80;
    --greenSecondary: #d0ffcc;
    --greenLight: hsla(115,100%,75%,5%);
    --orange: #ffca80;
    --orangeSecondary: #ffeacc;
    --orangeLight: hsla(35,100%,75%,5%);
    --pink: #ff80bf;
    --pinkSecondary: #ffcce6;
    --pinkLight: hsla(330,100%,75%,5%);
    --purple: #9580ff;
    --purpleSecondary: #d5ccff;
    --purpleLight: hsl(250,100%,75%,5%);
    --red: #ff9580;
    --redSecondary: #ffd5cc;
    --redLight: hsla(10,100%,75%,5%);
    --yellow: #ffff80;
    --yellowSecondary: #ffc;
    --gradientDegree: 135deg;
    --purple-cyan: linear-gradient(var(--gradientDegree),var(--purple) 0%,var(--cyan) 100%);
    --yellow-pink: linear-gradient(var(--gradientDegree),var(--yellow) 0%,var(--pink) 100%);
    --cyan-green: linear-gradient(var(--gradientDegree),var(--cyan) 0%,var(--green) 100%);
    --pink-purple: linear-gradient(var(--gradientDegree),var(--pink) 0%,var(--purple) 100%) --border-size:0.1rem;

    // All these extra accent steps and redefinitions are required for Windows accent options
    // Elements that use these will be set by either Windows Accent or Theme
    --accent: var(--cyan); /* Must be HEX */
    --accentHS: 190, 100%; /* "H, S%" from accent as HSL */
    --accentL: 50%; /* "L" from accent HSL */
    --accentInt: 0, 212, 255; /* accent as "r, g, b" */
    --border-bar-bg: var(--code);
    --border-bar-size: 7px;
    --program-bg: linear-gradient(90deg, #11181d, #0e1419 100%);
    --footer-bg: var(--black);
    --scrollbar-track-bg: #1E2934;
    --button-bg: #274560;
    --button-bg-hover: #28374E;
    --tooltip-bg: var(--even-darker-code-background);
    
}
