@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2024 TroubleChute (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.*@

@page "/"
@namespace TcNo_Acc_Switcher_Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
    var currentTime = DateTimeOffset.Now.ToUnixTimeSeconds();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TcNo-Acc-Switcher</title>
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
    <script src="js/jquery.3.6.0.min.js?@currentTime"></script>
    <script src="js/html5sortable.min.js?@currentTime"></script>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css?@currentTime" />
    <script src="js/bootstrap.bundle.min.js?@currentTime"></script>
    <link href="css/accent.css?@currentTime" rel="stylesheet" />
    <link href="css/site.min.css?@currentTime" rel="stylesheet" />
    <link href="css/UI.min.css?@currentTime" rel="stylesheet" />
    <link href="css/acclist.min.css?@currentTime" rel="stylesheet" />
    <link href="css/context_menu.min.css?@currentTime" rel="stylesheet" />
    <link href="css/modal.min.css?@currentTime" rel="stylesheet" />
    <link href="css/scrollbar.css?@currentTime" rel="stylesheet" />
    <link href="css/settings.min.css?@currentTime" rel="stylesheet" />
    <link href="css/notification.min.css?@currentTime" rel="stylesheet" />
    <link href="css/fontawesome.all.min.css?@currentTime" rel="stylesheet">
    <script src="js/ace/ace.js?@currentTime" type="text/javascript" charset="utf-8"></script>
    <script>if (window.module) module = window.module;</script>
    <script src="js/interop.js?@currentTime"></script>
    <script src="js/hotkeys.min.js?@currentTime"></script>
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

@* ReSharper disable once Html.PathError *@
    <script src="js/context_menu.js?@currentTime"></script>
    <script src="js/WebFuncs.js?@currentTime"></script>
    <script src="js/Headerbar.js?@currentTime"></script>
    <script type="module">
        import Notification from './js/Notification.min.js';
        window.notification = new Notification({
            position: 'bottom-right',
            thickBorder: 'top',
            duration: 5000,
            transition: 200,
            maxActive: 10,
            imgPath: './img/'
        });
    </script>
    <script src="_framework/blazor.server.js?@currentTime"></script>
</body>
</html>