@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2021 TechNobo (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https: //www.gnu.org/licenses />.*@

@page "/"
@using TcNo_Acc_Switcher_Server.Data
@using TcNo_Acc_Switcher_Server.Pages.General
@inject IJSRuntime JsRuntime
@{ AppData.SetActiveIJsRuntime(JsRuntime); }
@inject NavigationManager NavManager
@{ AppData.SetActiveNavMan(NavManager); }
@inject AppData AppData

@inject Data.Settings.Origin Origin
@inject Data.Settings.Steam Steam
@inject Data.Settings.Ubisoft Ubisoft
@inject Data.Settings.BattleNet BattleNet

@if (AppSettings.Instance.UpdateAvailable) {
@*@if (true) {*@ 
    <div class="updateBar" @onclick="UpdateNow"><span>Update available! Click here to start it.</span></div>
}

<div class="platformContainer">
    <div class="button platformIcon" id="SwitcherSteam" @onclick="CheckSteam">
        <img src="img/platform/steam.svg" draggable="false" alt="Steam" />
    </div>
    <div class="button platformIcon" id="SwitcherOrigin" @onclick="CheckOrigin">
        <img src="img/platform/origin.svg" draggable="false" alt="Origin" />
    </div>
    <div class="button platformIcon" id="SwitcherUbisoft" @onclick="CheckUbisoft">
        <img src="img/platform/ubisoft.svg" draggable="false" alt="Ubisoft" />
    </div>
    <div class="button platformIcon" id="SwitcherBattleNet" @onclick="CheckBattleNet">
            <img src="img/platform/steam.svg.svg" draggable="false" alt="BattleNet" />
        </div>
</div>


@code
{
    // This is run before everything is painted on, so that it can get the correct values for the CSS Block.
    protected override void OnParametersSet()
    {
        if (!GeneralFuncs.WindowSettingsValid())
        {
            // Do something here if necessary.
            // For now this is just being used to load settings.
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        AppData.WindowTitle = "TcNo Account Switcher";
        if (firstRender) GeneralInvocableFuncs.HandleQueries();
    }
}