@page "/"
@using TcNo_Acc_Switcher_Server.Data
@using TcNo_Acc_Switcher_Server.Pages.General
@using Newtonsoft.Json.Linq
@using System.IO
@inject IJSRuntime JsRuntime;
@inject NavigationManager NavManager

<div class="button" id="SwitcherSteam" @onclick="CheckSteam">
    <img src="img/icons/ico_settings.svg" draggable="false" />
</div>
