Find more information on GitHub: https://github.com/TcNobo/TcNo-Acc-Switcher
Join the Discord for bug reports/feature requests: https://s.tcno.co/AccSwitcherDiscord
  - This is a short link so it can be updated if needed later.

In order to use the program you need the corresponding .NET Core runtime and Desktop runtime extension. Those can be found below:
Desktop runtime extension:
- x32: https://dotnet.microsoft.com/download/dotnet-core/thank-you/runtime-desktop-3.1.1-windows-x86-installer
- x64: https://dotnet.microsoft.com/download/dotnet-core/thank-you/runtime-desktop-3.1.1-windows-x64-installer


You shouldn't be required to have the normal .NET Core runtime, but if you experience issues using the program or updating, try downloading and installing this as well:.NET Core 3.0 Runtime:
- x32: https://dotnet.microsoft.com/download/dotnet-core/thank-you/runtime-3.1.1-windows-x86-installer
- x64: https://dotnet.microsoft.com/download/dotnet-core/thank-you/runtime-3.1.1-windows-x64-installer
