@page "/Steam/RestoreForgotten"
@using TcNo_Acc_Switcher_Server.Shared
@using Microsoft.AspNetCore.Http.Extensions
@namespace TcNo_Acc_Switcher_Server.Pages.Steam
@inject NavigationManager NavManager
@inject IJSRuntime JsRuntime;

<div class="container mainblock">
    <div class="row">
        <div class="col-md-12 col-lg-9 col-xl-8 mx-auto settingsCol restorePage">
            <toastarea />
            <div class="SettingsHeader">
                <hr><span>Restore forgotten accounts</span>
                <hr>
            </div>
            <p>
                If you previously "forgot" an account, you can restore them here.<br />
                This adds them back into your loginusers.vdf file, allowing you to switch to them.
            </p>
            <div class="forgottenList">
                <select name="ForgottenSteamAccounts" size="15" multiple id="ForgottenSteamAccounts">
                </select>
            </div>
            <div>
                <button class="btn btn_RestoreSelected" type="button" onclick='restoreSteamAccounts()'><span>Restore selected</span></button>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_ForgottenShowId"><label class="form-check-label" for="Steam_ForgottenShowId"></label></div><label>Show SteamID<br></label>
                </div>
            <div class="buttoncol col_close">
                <button class="btn btn_close" type="button" @onclick='() => NavManager.NavigateTo("/Steam/Settings")'><span>Close</span></button>
            </div>
        </div>
    </div>
</div>
<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
