@page "/Steam/Settings"
@using TcNo_Acc_Switcher_Server.Shared
@using Microsoft.AspNetCore.Http.Extensions
@namespace TcNo_Acc_Switcher_Server.Pages.Steam
@inject NavigationManager NavManager

    <div class="container settings_cont mainblock">
        <div class="row">
            <div class="col-md-12 col-lg-9 col-xl-8 mx-auto settingsCol">
                <toastarea/>
                <div class="SettingsHeader">
                    <hr><span>General settings</span>
                    <hr>
                </div>
                <div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_Admin"><label class="form-check-label" for="Steam_Admin"></label></div><label>Run Steam as Admin<br></label>
                </div>
                <div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_ShowSteamID"><label class="form-check-label" for="Steam_ShowSteamID"></label></div><label>Show SteamID<br></label>
                </div>
                <div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_ShowVAC"><label class="form-check-label" for="Steam_ShowVAC"></label></div><label>Show VAC Status<br></label>
                </div>
                <div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_ShowLimited"><label class="form-check-label" for="Steam_ShowLimited"></label></div><label>Show Limited Status<br></label>
                </div>
                <div class="form-text"><span>Profile images expire after:</span><input type="number" id="Steam_ImageExpiryTime" min="0" max="365" value="7"><span>Days</span></div>
                <div class="SettingsHeader">
                    <hr><span>Shortcuts</span>
                    <hr>
                </div>
                <div class="columnSetting">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_DesktopShortcut"><label class="form-check-label" for="Steam_DesktopShortcut"></label></div><label>Desktop shortcut<br></label>
                </div>
                <div class="columnSetting">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_StartMenu"><label class="form-check-label" for="Steam_StartMenu"></label></div><label>Start menu shortcut<br></label>
                </div>
                <div class="SettingsHeader">
                    <hr><span>Tray settings</span>
                    <hr>
                </div>
                <div class="columnSetting">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_TrayStartup"><label class="form-check-label" for="Steam_TrayStartup"></label></div><label>Start with Windows<br></label>
                </div>
                <div class="columnSetting">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_TrayAccountName"><label class="form-check-label" for="Steam_TrayAccountName"></label></div><label>Show account name [not friend name]<br></label>
                </div>
                <div class="form-text"><span>Max number of accounts to remember:</span><input type="number" id="Steam_TrayAccNumber" min="0" max="365" value="7"></div>
                <div class="SettingsHeader">
                    <hr><span>General</span>
                    <hr>
                </div>
                <div class="buttoncol"><button class="btn" id="Steam_PickFolder" type="button" @onclick="PickSteamFolder"><span>Pick Steam folder</span></button><button class="btn" id="Steam_CheckVAC" type="button" @onclick="() => ClearVacStatus(JsRuntime)"><span>Check account VAC status</span></button></div>
                <div class="buttoncol"><button class="btn" id="Steam_ResetSettings" type="button" @onclick="() => ClearSettings(NavManager)"><span>Reset settings (todo:sure modal?)</span></button><button class="btn" id="Steam_ResetImages" type="button" @onclick="ClearImages"><span>Reset images</span></button></div>
                <div class="SettingsHeader">
                    <hr><span>Steam tools</span>
                    <hr>
                </div>
                <div class="buttoncol"><button class="btn" type="button" @onclick='() => NavManager.NavigateTo("/Steam/RestoreForgotten")'><span>Restore forgotten account</span></button><button class="btn" type="button" @onclick="() => SteamSwitcherFuncs.ClearForgotten(JsRuntime)"><span>Clear forgotten accounts</span></button></div>
                <div class="buttoncol"><button class="btn" id="Steam_OpenSteamFolder" type="button" @onclick="OpenSteamFolder"><span>Open Steam Folder</span></button><button class="btn" id="Steam_AdvancedClearing" type="button" @onclick='() => NavManager.NavigateTo("/Steam/AdvancedClearing")'><span>Advanced cleaning...</span></button></div>
                <div class="buttoncol col_close"><button class="btn btn_close" type="button" @onclick="ClickSaveSettings"><span>Close</span></button></div>
            </div>
        </div>
    </div>
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
