@page "/Steam/Settings"
@using TcNo_Acc_Switcher_Server.Shared
@namespace TcNo_Acc_Switcher_Server.Pages.Steam
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TcNo-Acc-Switcher</title>
    <base href="~/" />
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>
    <script src="js/jquery.3.5.1.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/modal.css" rel="stylesheet" />
    <link href="css/scrollbar.css" rel="stylesheet" />
    <link href="css/settings.css" rel="stylesheet" />
    <script>if (window.module) module = window.module;</script>
    <script src="js/interop.js"></script>
</head>
<body>
    <div class="headerbar">
        <component type="typeof(Headerbar)" render-mode="ServerPrerendered" />
    </div>

    <div class="container settings_cont">
        <div class="row">
            <div class="col-md-12 col-lg-9 col-xl-8 mx-auto settingsCol">
                <div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_Admin"><label class="form-check-label" for="Steam_Admin"></label></div><label>Run Steam as Admin<br></label>
                </div>
                <div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_ShowSteamID"><label class="form-check-label" for="Steam_ShowSteamID"></label></div><label>Show SteamID<br></label>
                </div>
                <div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_ShowVAC"><label class="form-check-label" for="Steam_ShowVAC"></label></div><label>Show VAC Status<br></label>
                </div>
                <div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_ShowLimited"><label class="form-check-label" for="Steam_ShowLimited"></label></div><label>Show Limited Status<br></label>
                </div>
                <div class="form-text"><span>Profile images expire after:</span><input type="number" id="Steam_ImageExpiryTime" min="0" max="365" value="7"><span>Days</span></div>
                <div class="SettingsHeader">
                    <hr><span>Shortcuts</span>
                    <hr>
                </div>
                <div class="columnSetting">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_DesktopShortcut"><label class="form-check-label" for="Steam_DesktopShortcut"></label></div><label>Desktop shortcut<br></label>
                </div>
                <div class="columnSetting">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_StartMenu"><label class="form-check-label" for="Steam_StartMenu"></label></div><label>Start menu shortcut<br></label>
                </div>
                <div class="SettingsHeader">
                    <hr><span>Tray settings</span>
                    <hr>
                </div>
                <div class="columnSetting">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_TrayStartup"><label class="form-check-label" for="Steam_TrayStartup"></label></div><label>Start with Windows<br></label>
                </div>
                <div class="columnSetting">
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="Steam_TrayAccountName"><label class="form-check-label" for="Steam_TrayAccountName"></label></div><label>Show account name [not friend name]<br></label>
                </div>
                <div class="form-text"><span>Max number of accounts to remember:</span><input type="number" id="Steam_TrayAccNumber" min="0" max="365" value="7"></div>
                <div class="SettingsHeader">
                    <hr><span>General</span>
                    <hr>
                </div>
                <div class="buttoncol"><button class="btn" id="Steam_PickFolder" type="button"><span>Pick Steam folder</span></button><button class="btn" id="Steam_CheckVAC" type="button"><span>Check account VAC status</span></button></div>
                <div class="buttoncol"><button class="btn" id="Steam_ResetSettings" type="button"><span>Reset settings</span></button><button class="btn" id="Steam_ResetImages" type="button"><span>Reset images</span></button></div>
                <div class="SettingsHeader">
                    <hr><span>Steam tools</span>
                    <hr>
                </div>
                <div class="buttoncol"><button class="btn" type="button"><span>Restore forgotten account</span></button><button class="btn" type="button"><span>Clear forgotten backups</span></button></div>
                <div class="buttoncol"><button class="btn" id="Steam_OpenSteamFolder" type="button"><span>Open Steam Folder</span></button><button class="btn" id="Steam_AdvancedClearing" type="button"><span>Advanced cleaning...</span></button></div>
                <div class="buttoncol col_close"><button class="btn btn_close" type="button"><span>Close</span></button></div>
            </div>
        </div>
    </div>

<div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="js/WebFuncs.js"></script>
    <script src="js/Headerbar.js"></script>
</body>
</html>