<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="94.4.11" targetFramework="net48" />
  <package id="cef.redist.x86" version="94.4.11" targetFramework="net48" />
  <package id="CefSharp.Common" version="94.4.110" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="94.4.110" targetFramework="net48" />
</packages>