@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2022 TechNobo (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.*@

@using TcNo_Acc_Switcher_Server.Shared.Modal
@using TcNo_Acc_Switcher_Server.Shared.Modal.Modals
@using System.Collections.ObjectModel
@using System.ComponentModel
@using TcNo_Acc_Switcher_Server.State.Interfaces
@using TcNo_Acc_Switcher_Server.State
@using TcNo_Acc_Switcher_Server.State.DataTypes

@inject IJSRuntime JsRuntime
@inject IAppState AppState
@inject ILang Lang
@inject IModals Modals
@implements IDisposable

<div class="modalBG @(!Modals.IsShown ? "modalHidden" : "modalShown")" @onclick="Modals.CloseModal">
@*<div class="modalBG" onclick="if (event.target === this)$('.modalBG').fadeOut();" style="display: none;">*@
    <div class="modalFG" @onclick:stopPropagation>
        <div id="window-title-modal">
            @if (Modals.Type == "gameStatsSelector" && Modals.CurrentStatsSelectorState == StatsSelectorState.VarsList)
            {
                <button id="modalBtnBack" @onclick="ModalBack">
                    <i class="fas fa-chevron-left icon" style="transition: transform 500ms ease-in-out" draggable="false" alt="-"></i>
                </button>
            }else{
                <button id="modalBtnBack" style="display: none" @onclick="ModalBack">
                    <i class="fas fa-chevron-left icon" style="transition: transform 500ms ease-in-out" draggable="false" alt="-"></i>
                </button>
            }
            <svg draggable="false" class="modal_header_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 768 264" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
                <use href="img/TcNo_Logo_Flat.svg#logo"></use>
            </svg>
            <span id="modalTitle">@Modals.Title</span>
            <div id="window-controls-modal">
                <button id="btnClose-modal" @onclick="Modals.CloseModal">
                    <i class="fas fa-times" draggable="false"></i>
                </button>
            </div>
        </div>
        <div id="modal_contents">
            @switch (Modals.Type)
            {
                case "info":
                    <ModalInfo />
                    break;
                case "crowdin":
                    <ModalCrowdin />
                    break;
                case "notes":
                    <ModalAccountNotes />
                    break;
                case "showStats":
                    <ModalStats />
                    break;
                case "confirm":
                    @* For forgetting accounts, clearing stats & restarting as Admin *@
                    <ModalConfirmAction />
                    break;
                case "find":
                    @* For locating platform EXEs as well as AnyFile and AnyFolder locations *@
                    <ModalPathPicker />
                    break;
                case "getText":
                    @* For entering usernames for new accounts, or setting an app password *@
                    <ModalTextInput />
                    break;
                case "gameStatsSelector":
                    @* For selecting what games to show stats for *@
                    <ModalGameStats />
                    break;
            }





        </div>
    </div>
</div>

@code
{
    private PropertyChangedEventHandler _propChanged;
    protected override void OnInitialized()
    {
        _propChanged = async (s, e) => await OnChangeHandler(s, e);
        Modals.PropertyChanged += _propChanged;
    }

    void IDisposable.Dispose()
    {
        Modals.PropertyChanged -= _propChanged;
    }

    private static readonly string[] RefreshProperties = {"IsShown", "Type", "CurrentStatsSelectorState", "Title", };
    private async Task OnChangeHandler(object s, PropertyChangedEventArgs e)
    {
        if (RefreshProperties.Contains(e.PropertyName)) await InvokeAsync(StateHasChanged);
    }

    // Modal back button clicked
    private void ModalBack()
    {
        if (Modals.Type == "gameStatsSelector" && Modals.CurrentStatsSelectorState == StatsSelectorState.VarsList)
        {
            Modals.CurrentStatsSelectorState = StatsSelectorState.GamesList;
            Modals.GameStatsModalOnChangeChanged();
        }
    }

}
