@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2021 TechNobo (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https: //www.gnu.org/licenses />.*@

@page "/BattleNet/"
@using TcNo_Acc_Switcher_Server.Data
@using System.IO
@using TcNo_Acc_Switcher_Server.Pages.General
@inject AppData AppData
@inject IJSRuntime JsRuntime
@{ AppData.SetActiveIJsRuntime(JsRuntime); }
@inject NavigationManager NavManager
@{ AppData.SetActiveNavMan(NavManager); }

@inject AppSettings AppSettings
<style>@(new AppSettings().GetCssBlock())</style>

@inject Data.Settings.BattleNet BattleNet




<ContextMenu ContextMenuString=@BattleNet.ContextMenuJson />
<div id="acc_list" class="acc_list">
    <toastarea />
</div>
<div class="acc_list_actionbar">
    <div class="statusBar"><div></div><input id="CurrentStatus" @bind="@AppData.CurrentStatus" spellcheck="false" disabled></div>
    <div>
        @* Not implemented rn
        <div class="button" id="btnAddNew" onclick="NewBattleNetLogin()">
            <span>Add New</span>
        </div>
        *@
        <div class="button btn_login" id="btnLogin" onclick="SwapTo(0, event)">
            <span>Login</span>
        </div>
        @*<div class="button" id="btnSettings" onclick="window.location = 'show_settings';">*@
        @* Not implemented rn
        <NavLink href="BattleNet/Settings">
            <div class="button" id="btnSettings">
                <img src="img/icons/ico_settings.svg" draggable="false"/>
            </div>
        </NavLink>
        *@
        <div class="button" id="btnHelp" onclick="ShowModal('info');">
            <img src="img/icons/ico_question.svg" draggable="false"/>
        </div>
    </div>

</div>


@code
{
    // This has to be here for NavManager.
    // This is run before everything is painted on, so that it can get the correct values for the CSS Block.
    protected override void OnParametersSet()
    {
        AppSettings.StreamerModeCheck();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        AppData.WindowTitle = "TcNo Account Switcher - BattleNet";
        if (firstRender)
        {
            if (AppSettings.Instance.StreamerModeEnabled && AppSettings.Instance.StreamerModeTriggered) await JsRuntime.InvokeVoidAsync($"window.notification.new", new { type = "info", title = "Streamer mode", message = "Private info is hidden! - See settings", renderTo = "toastarea", duration = 5000 });// Show notification that streamer mode was enabled.
            Data.Settings.BattleNet.Instance.LoadFromFile();
            BattleNetSwitcherFuncs.LoadProfiles();
            Data.Settings.BattleNet.Instance.SaveSettings(!File.Exists(Data.Settings.BattleNet.Instance.SettingsFile)); // Init file if it doesn't exist, or isn't fully initialized (adds missing settings when true)

            GeneralInvocableFuncs.HandleQueries();
        }
    }
}
