@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2021 TechNobo (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.


    Special thanks to iR3turnZ for contributing to this platform's account switcher
    iR3turnZ: https://github.com/HoeblingerDaniel*@

@page "/BattleNet/ManageIgnored"
@namespace TcNo_Acc_Switcher_Server.Pages.BattleNet
@inject NavigationManager _navManager
@{ AppData.SetActiveNavMan(_navManager); }
@inject IJSRuntime _jsRuntime
@{ AppData.SetActiveIJsRuntime(_jsRuntime); }

@inject Data.Settings.BattleNet _battleNet
@inject ILanguageContainerService _locale;

<div class="container mainblock">
    <div class="row">
        <div class="col-md-12 col-lg-9 col-xl-8 mx-auto settingsCol">
            <toastarea class="toastarea" />
            <div class="SettingsHeader">
                <hr><span>@_locale["Ignored_RemoveAccounts"]</span>
                <hr>
            </div>
            <p>
                @_locale["Ignored_Description"]
            </p>
            <div class="forgottenList">
                <select name="IgnoredAccounts" size="15" multiple id="IgnoredAccounts">
                </select>
            </div>
            <div class="forgottenListActions">
                <button class="btn_RestoreSelected" type="button" onclick="restoreBattleNetAccounts()"><span>@_locale["Ignored_Stop"]</span></button>
            </div>
            <div class="buttoncol col_close">
                <button class="btn_close" type="button" @onclick='() => _navManager.NavigateTo("/BattleNet/Settings")'><span>@_locale["Button_Close"]</span></button>
            </div>
        </div>
    </div>
</div>
<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="">Reload</a>
    <a class="dismiss">🗙</a>
</div>
