@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2021 TechNobo (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    This program is distributed in the hope that it will be useful,
    (at your option) any later version.
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.


    Special thanks to iR3turnZ for contributing to this platform's account switcher
    iR3turnZ: https://github.com/HoeblingerDaniel*@

@page "/BattleNet/Settings"
@namespace TcNo_Acc_Switcher_Server.Pages.BattleNet
@inject NavigationManager NavManager
@{ AppData.SetActiveNavMan(NavManager); }
@inject Data.Settings.BattleNet BattleNet
@inject Data.AppSettings AppSett
@inject IJSRuntime JsRuntime
@{ AppData.SetActiveIJsRuntime(JsRuntime); }
<div class="container mainblock">
    <div class="row">
        <div class="col-md-12 col-lg-9 col-xl-8 mx-auto settingsCol">
            <toastarea />
            <SharedSettings />

            <div class="SettingsHeader">
                <hr><span>General settings</span>
                <hr>
            </div>
            <div class="rowSetting">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="DesktopShortcut" @bind="BattleNet.DesktopShortcut" @onclick="() => BattleNet.DesktopShortcut_Toggle()"><label class="form-check-label" for="DesktopShortcut"></label></div><label for="DesktopShortcut">BattleNet Switcher Desktop shortcut</label>
            </div>
            <div class="rowSetting">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="Admin" @bind="BattleNet.Admin"><label class="form-check-label" for="Admin"></label></div><label for="Admin">Run BattleNet as Admin<br></label>
            </div>
            <div class="rowSetting">
                <div class="form-check"><input class="form-check-input" type="checkbox" id="OverwatchMode" @bind="BattleNet.OverwatchMode"><label class="form-check-label" for="OverwatchMode"></label></div><label for="OverwatchMode">Show Overwatch SR and use the Overwatch profile picture.<br></label>
            </div>

            <div class="SettingsHeader">
                <hr><span>Tray settings</span>
                <hr>
            </div>
            <div class="form-text">
                <span>Max number of accounts to remember:</span><input type="number" id="TrayAccNumber" min="0" max="365" @bind="BattleNet.TrayAccNumber">
            </div>
            <div class="SettingsHeader">
                <hr><span>General</span>
                <hr>
            </div>
            <div class="buttoncol">
                <button class="btn" id="PickFolder" type="button" @onclick="PickFolder">
                    <span>Pick BattleNet folder</span>
                </button>
                <button class="btn" id="ResetSettings" type="button" @onclick="ClearSettings">
                    <span>Reset settings</span>
                </button>
            </div>
            <div class="buttoncol">
                <button class="btn" id="OpenFolder" type="button" @onclick="OpenFolder">
                    <span>Open BattleNet Folder</span>
                </button>
                <button class="btn" id="ClearForgotten" type="button" @onclick="ClearForgotten">
                    <span>Clear Forgotten</span>
                </button>
            </div>
            <div class="buttoncol">
                <button class="btn" id="ClearAccounts" type="button" @onclick="ClearAccounts">
                    <span>Clear Accounts</span>
                </button>
            </div>
            <div class="buttoncol col_close">
                <button class="btn btn_close" type="button" @onclick="SaveAndClose">
                    <span>Close</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    public void SaveAndClose()
    {
        AppSett.SaveSettings();
        BattleNet.SaveSettings();

        NavManager.NavigateTo("/BattleNet");
    }
}