@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2022 TechNobo (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.*@

@using TcNo_Acc_Switcher_Server.Shared.Modal
@using TcNo_Acc_Switcher_Server.Data
@using TcNo_Acc_Switcher_Globals
@using TcNo_Acc_Switcher_Server.Data.Settings
@using TcNo_Acc_Switcher_Server.Pages.General
@using Newtonsoft.Json
@using System.IO
@inject ILang Lang
@inject IModalData ModalData
@inject IAppData AppData

@code {

    protected override void OnInitialized()
    {
        ModalData.Title = Lang["Modal_Title_AccountNotes", new { accountName = AppData.SelectedAccount.DisplayName }];
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await AppData.InvokeVoidAsync("focusOn", "#accNotes");
    }
}

<div class="infoWindow">
    <div class="fullWidthContent">
        <div class="accNotesContainer">
            <textarea id="accNotes" @bind="AppData.SelectedAccount.Note"></textarea>
        </div>
        <div class="YesNo">
            <button type="button" id="modal_true" @onclick="SaveNotes"><span>@Lang["Save"]</span></button>
            <button type="button" id="modal_false" @onclick="() => ModalData.IsShown = false"><span>@Lang["Button_Cancel"]</span></button>
        </div>
    </div>
</div>

@code
{
    private void SaveNotes()
    {
        AppData.SelectedAccount.NotifyDataChanged();

        string path;
        Dictionary<string, string> data;

        if (AppData.CurrentSwitcher == "Steam")
        {
            path = "LoginCache\\Steam\\AccountNotes.json";
            data = AppData.SteamAccounts.ToDictionary(s => s.AccountId, s => s.Note);
        }
        else
        {
            path = $"LoginCache\\{AppData.CurrentSwitcherSafe}\\AccountNotes.json";
            data = AppData.BasicAccounts.ToDictionary(s => s.AccountId, s => s.Note);
        }

        File.WriteAllText(path, JsonConvert.SerializeObject(data, Formatting.None));

        ModalData.IsShown = false;
    }
}
