.acc_list {
    width: 100%;
    height: 100%;
    background-color: #28293A;
    overflow-y: auto;
    overflow-x: auto;
}

input.acc {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}

label.acc {
    padding: 0.5em;
    margin: 0;
    color: white;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-style: solid;
    border-color: #00000000;
    border-width: 0.1em;
    -webkit-transition: all 50ms ease-in;
    -moz-transition: all 50ms ease-in;
    transition: all 50ms ease-in;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    label.acc:hover {
        background-color: #28374E;
        border-color: #2777A4;
    }

input.acc:checked + label.acc {
    background-color: #274560;
    border-color: #26A0DA;
}

label.acc img {
    width: 6em;
    height: 6em;
    display: inline-block;
    margin-bottom: 0.5em;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    border: 2px solid #00000000;
}

label.acc.vac img {
    border: 2px solid red;
}

label.acc h6 {
    font-size: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 9em;
    margin: 0;
}

label.acc p {
    font-size: 0.75em;
    margin: 0;
    color: #DDD;
}

.acc_list_actionbar {
    width: 100%;
    height: 3.5em;
    background-color: #222;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 0.25em 0.25em;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

    .acc_list_actionbar span {
        line-height: 3em;
        width: inherit;
    }

    .acc_list_actionbar div {
        height: 3em;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
    }

        .acc_list_actionbar div .button {
            user-select: none;
            background-color: #333333;
            padding: 0.25em 0.651em;
            margin: 0 0.25em;
            width: auto;
            border-style: solid;
            border-color: #888;
            border-width: 0.1em;
        }

        .acc_list_actionbar div .btn_login {
            padding: 0.25em 5em;
        }

        .acc_list_actionbar div .button span {
            line-height: 2.5em;
        }

        .acc_list_actionbar div .button img {
            width: 1.5em;
        }
