/* ReSharper disable CssNotResolved */
/* DISABLED DRAGGING ON ITEMS: */
.acc_list_actionbar,
#acc_list,
.headerbar,
#window-title-modal {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.acc_list {
  gap: 4px;
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: minmax(min-content, max-content);
  width: 100%;
  height: calc(100% - 42px);
  overflow-x: auto;
  overflow-y: auto;
  background: var(--accountListBackground);
}

.acc_list_item {
  border: 0.1em solid transparent;
}
.acc_list_item * {
  pointer-events: none;
}
.acc_list_item .acc_note {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.acc_list_item .acc_stat {
  font-size: 0.8em;
}
.acc_list_item .acc_stat sup {
  margin-right: 0.4em;
}
.acc_list_item .acc_stat img {
  width: auto;
  height: auto;
}

.placeHolderAcc {
  width: 100px;
  height: 135px;
  border: 2px dashed #039CBF;
  background: #13222f;
}

.placeHolderPlat {
  border: 2px dashed #039CBF;
  background: #13222f;
  width: 20vw;
  height: 20vw;
  max-width: 175px;
  max-height: 175px;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}

.accountHover > label.acc {
  border: 0.1em solid #039CBF;
  /* Seperate because added by sortable */
  background: #13222f;
}

input.acc {
  -moz-appearance: none;
  -webkit-appearance: none;
  display: none;
  margin: 0;
  padding: 0;
}

label.acc {
  -moz-transition: all 50ms ease-in;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-transition: all 50ms ease-in;
  -webkit-user-select: none;
  user-select: none;
  min-width: 100px;
  max-width: 100px;
  min-height: 135px;
  height: 100%;
  margin: -0.1em;
  padding: 0.5em;
  border-width: 0.1em;
  border-style: solid;
  border-color: #000;
  border-color: rgba(0, 0, 0, 0);
  color: white;
  text-align: center;
  cursor: pointer;
  transition: all 50ms ease-in;
}
label.acc.vac img {
  border: 2px solid #ff5555;
}
label.acc img {
  -webkit-user-drag: none;
  display: inline-block;
  width: 6em;
  height: 6em;
  margin-bottom: 0.5em;
  border: 2px solid #000;
  border: 2px solid rgba(0, 0, 0, 0);
}
label.acc img.status_vac {
  border: 2px solid #ff5555 !important;
}
label.acc img.status_limited {
  border: 2px solid yellow !important;
}
label.acc h6 {
  max-width: 9em;
  margin: 0;
  overflow: hidden;
  font-size: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
}
label.acc p {
  margin: 0;
  color: #DDD;
  font-size: 0.75em;
}

input.acc:checked + label.acc.currentAcc {
  border-color: #8aff80;
  border-style: solid;
}

input.acc:checked + label.acc {
  border-color: #8BE9FD;
  background: #274560;
}

label.acc.currentAcc {
  border-color: #8aff80;
  border-style: dashed;
}

.acc_list_actionbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3.5em;
  padding: 0.25em 0.25em;
  overflow: hidden;
  background: #252A2E;
  color: white;
  /* Status section */
}
.acc_list_actionbar input {
  user-select: none;
  width: inherit;
  padding-left: 1em;
  border: none;
  outline: none;
  background: none;
  color: #DDD;
  line-height: 3em;
}
.acc_list_actionbar input::selection {
  user-select: none;
  background: none;
  color: #DDD;
}
.acc_list_actionbar > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 3em;
}

.acc_list_actionbar div .btn_login,
.btn_close span {
  padding: 0.25em 5em;
}

.statusBar {
  position: relative;
}
.statusBar div, .statusBar input {
  position: absolute;
  width: 100%;
  height: 100%;
}
.statusBar input {
  z-index: 1;
}
.statusBar div {
  z-index: 5;
}

label h6 svg {
  fill: white;
  margin: 2px;
}

.battleNetIcon {
  display: inline-block;
  width: 15px;
}
