/* ReSharper disable CssNotResolved */
.contextmenu {
  display: none;
  position: absolute;
  width: 15em;
  margin: 0;
  padding: 0;
  background: var(--contextMenuBackground);
  border-radius: 0.2em;
  list-style: none;
  z-index: 999999;
  box-shadow: var(--contextMenuBoxShadow);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

  .contextmenu li {
    border-left: 1em solid transparent;
    transition: ease 0.2s;
  }

    .contextmenu li a {
      display: block;
      padding: 10px;
      color: var(--contextMenuTextColor) !important;
      text-decoration: none;
      transition: ease 0.2s;
      cursor: pointer;
    }

    .contextmenu li:hover {
      background: var(--contextMenuBackground-hover);
      border-left: 2px solid var(--contextMenuLeftBorder-hover);
    }

      .contextmenu li:hover a {
        color: var(--contextMenuTextColor-hover);
      }

.versionIdentifier {
  text-align: right;
}

  .versionIdentifier span {
    color: var(--defaultTextColor);
  }

.submenu {
  display: none;
  min-height: 100%;
  box-shadow: var(--contextMenuBoxShadow);
}

li:hover .submenu {
  position: absolute;
  display: block;
  top: 0;
  width: 15em;
  right: -15em;
  background: var(--contextMenuBackground);
  padding: 0;
  opacity: 1;
  font-size: 1em;
  animation: expand 0.3s;
}

@keyframes expand {
  from {
    width: 13em;
    margin-right: 2em;
    font-size: 1em;
  }

  to {
    width: 15em;
    margin-right: 0;
    font-size: 1em;
  }
}

.submenu li {
  list-style: none;
  color: var(--contextMenuTextColor);
}

  .submenu li a {
    color: var(--contextMenuTextColor) !important;
  }
