/* ReSharper disable CssNotResolved */
.contextmenu {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
  position: absolute;
  width: 15em;
  margin: 0;
  padding: 0;
  border-radius: 0.2em;
  background: var(--contextMenuBackground);
  list-style: none;
  box-shadow: var(--contextMenuBoxShadow);
  z-index: 999999;
}

  .contextmenu li {
    border-left: 1em solid transparent;
    transition: ease 0.2s;
  }

    .contextmenu li a {
      display: block;
      padding: 10px;
      color: var(--contextMenuTextColor) !important;
      text-decoration: none;
      cursor: pointer;
      transition: ease 0.2s;
    }

    .contextmenu li:hover {
      border-left: 2px solid var(--contextMenuLeftBorder-hover);
      background: var(--contextMenuBackground-hover);
    }

      .contextmenu li:hover a {
        color: var(--contextMenuTextColor-hover);
      }

.versionIdentifier {
  text-align: right;
}

  .versionIdentifier span {
    color: var(--defaultTextColor);
  }

.submenu1,
.submenu2 {
  display: none;
  min-height: 100%;
  box-shadow: var(--contextMenuBoxShadow);
  list-style: none;
}

  li:hover .submenu1,
  .submenu1 li:hover .submenu2 {
    display: block;
    position: absolute;
    top: 0;
    right: -15em;
    width: 15em;
    padding: 0;
    background: var(--contextMenuBackground);
    font-size: 1em;
    animation: expand 0.3s;
    opacity: 1;
  }

@keyframes expand {
  from {
    width: 13em;
    margin-right: 2em;
    font-size: 1em;
  }

  to {
    width: 15em;
    margin-right: 0;
    font-size: 1em;
  }
}

.submenu li {
  color: var(--contextMenuTextColor);
  list-style: none;
}

  .submenu li a {
    color: var(--contextMenuTextColor) !important;
  }
