.modalBG {
    position: absolute;
    height: calc(100% - 32px);
    top: 32px;
    width: 100%;
    z-index: 1;
    background: #00000055;
    cursor: pointer;
}

.modalFG {
    width: fit-content;
    background-color: #28293A;
    position: absolute;
    top: calc(50% - 42px);
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 200px;
    max-width: 90%;
    min-height: 100px;
    max-height: 90%;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.84);
    -moz-box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.84);
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.84);
    cursor: default;
}

/*Info window*/
.infoWindow {
    position: relative;
    width: 80%;
    height: 80%;
    padding: 5%;
    align-items: center;
    width: 500px;
    white-space: nowrap;
    overflow: auto;
    text-align: center;
    display: flex;
}

.infoWindow .imgDiv {
    width: 100%;
    align-items: center;
    display: flex;
}

.infoWindow .fullWidthContent {
    width: 100%;
    color: white;
    display: block;
}

.infoWindow .fullWidthContent .YesNo button {
    padding: 0.25em 3em!important;
}

.infoWindow .rightContent {
    color: white;
    margin-left: 1em;
    text-align: left;
}

.infoWindow .rightContent h2 {
    font-weight: bold;
}

.infoWindow .rightContent .linksList {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.infoWindow .rightContent .linksList a, .fancyLink {
    color: #FFAA00;
    cursor: pointer;
}

    .infoWindow .rightContent .linksList a:hover, .fancyLink:hover {
        color: #FFDD00;
    }

    .infoWindow .rightContent .linksList a:active, .fancyLink:active {
        color: #CC7700;
    }

.infoWindow .rightContent .linksList a img {
    width: 2em;
    margin-right: 0.5em;
}

#modal_contents {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1em;
}

    #modal_contents button {
        user-select: none;
        background-color: #333;
        padding: 0.25em 0.6em;
        margin: 0 0.25em;
        width: auto;
        color: white;
        border-style: solid;
        border-color: #888;
        border-width: 0.1em;
        cursor: pointer;
        border-radius: 0 !important;
        transition: ease-in-out 60ms;
        user-select: none;
    }

        #modal_contents button:hover {
            background-color: #444;
        }

        #modal_contents button:active {
            background-color: #222 !important;
            border-color: #FFAA00;
        }
        #modal_contents button:focus {
            box-shadow: none;
        }

        #modal_contents button span {
            line-height: 2.5em;
        }

    #modal_contents .modal_button_close {
        right: 0 !important;
        left: unset !important;
        width: 35% !important;
    }

    #modal_contents input[type=text] {
        padding-bottom: 2px;
        -webkit-box-shadow: 0px 0px 0px 1px rgba(153,153,153,1);
        -moz-box-shadow: 0px 0px 0px 1px rgba(153,153,153,1);
        box-shadow: 0px 0px 0px 1px rgba(153,153,153,1);
    }
    #modal_contents .inputAndButton {
        display: flex;
        margin: 1em 0.5em 1em 0.5em;
    }
        #modal_contents .inputAndButton button {
            margin-left: 0.5em;
        }

    #modal_contents input[type=text]:focus {
        padding-bottom: 0;
        margin: 0;
        background-color: #222 !important;
        box-shadow: none;
    }

    #modal_contents .modal-text {
        margin: 0em 0.5em 2px 0.5em;
        font-size: 12px !important;
        color: white;
    }
#FolderLocation {
    flex-grow: 1;
}
#select_program {
    margin-left: auto!important;
    padding: 0 2em;
}

.folder_indicator {
    width: 6px;
    margin-right: 0.5em;
}
    .folder_indicator.found {
        background-color: lime;
    }
    .folder_indicator.notfound {
        background-color: red;
    }
.folder_indicator_bg {
    padding: 0.35em 0.6em;
}
.folder_indicator_bg span {
    line-height: 2.5em;
    color: white;
    padding: 1em 0em;
}
    .folder_indicator_bg.found {
        background-color: green;
    }
        .folder_indicator_bg.found span::after {
            content: " found!";
        }
    .folder_indicator_bg.notfound {
        background-color: darkred;
    }
        .folder_indicator_bg.notfound span::after {
            content: " not found!";
        }