/* ReSharper disable CssNotResolved */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbarTrackBackground);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.3em;
  background: var(--scrollbarThumbBackground);
}

  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbarThumbBackground-hover);
  }
