/* ReSharper disable CssNotResolved */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1E2934;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.3em;
  background: #8BE9FD;
}

  ::-webkit-scrollbar-thumb:hover {
    background: #8BE9FD;
  }
