/* ReSharper disable CssNotResolved */
.toastarea {
    position: absolute;
    right: 3px;
    bottom: 3px;
}

.container {
    max-width: 100%;
    overflow: visible;
    color: white;
}

.SettingsHeader { color: white; }

.SettingsHeader hr {
    display: inline-block;
    border: 1px solid #BBB;
    vertical-align: middle;
}

.SettingsHeader hr:first-of-type { width: 20px; }

.SettingsHeader hr:last-of-type { width: 100px; }

.SettingsHeader span {
    display: inline-block;
    margin: 0 0.75em;
    font-weight: bold;
}

.settingsCol { position: relative; }

.settingsCol .toastarea {
    display: flex;
    position: fixed;
    top: 35px;
    right: 16px;
    bottom: auto;
    flex-direction: column;
    align-items: flex-end;
    z-index: 5000;
}

.acc_list_actionbar > div .btn_login,
.btn_close span { padding: 0.25em 5em; }

div.form-text {
    color: white;
    font-size: 12px !important;
}

input[type=number],
input[type=text],
input[type=password] {
    -moz-appearance: textfield;
    display: inline-block;
    margin: 0 0.5em 2px 0.5em;
    padding: 0.5em;
    border: 0;
    border-bottom: none;
    outline: 0;
    background: #070A0D;
    color: white;
}

input[type=number] { border-bottom: 2px solid #888; }

input[type=number]:focus,
input[type=text]:focus,
input[type=password]:focus { border-bottom: 2px solid var(--accent); }

input[type=number]::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label { margin-left: 0.5em; }

.form-check label {
    margin: 0;
}

.rowSetting > label {
    margin-right: 1rem;
}

/* Checkbox */

.form-check {
    display: inline-block;
    padding: 0;
}

input[type='checkbox'] {
    opacity: 0;
    z-index: -1;
}

input[type='checkbox'] + label {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
}

input[type='checkbox'] + label {
    -moz-transition: 0.5s ease all;
    -webkit-transition: 0.5s ease all;
    border: 1px solid #6272A4;
    background: none;
    transition: 0.5s ease all;
    vertical-align: middle;
}

input[type='checkbox']:checked + label {
    border: 1px solid #6272A4;
    background: var(--accent);
}

.settingsCol:first-child { margin-top: 1em; }

.settingsCol .buttoncol {
    position: relative;
    width: 100%;
    height: 3.6em;
}

.settingsCol .buttoncol button, .settingsCol .buttoncol .button {
    position: absolute;
    width: 49%;
}

.settingsCol .buttoncol :first-child { left: 0; }

.settingsCol .buttoncol :last-child { right: 0; }

.settingsCol .buttoncol button:focus { box-shadow: none; }

.btn_close {
    right: 0 !important;
    left: unset !important;
    width: 35% !important;
}

.col_close { margin-top: 2em; }