@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #28293A;
    font-size: 12px; /* THIS SCALES EVERYTHING UP AND DOWN */
}

a, .btn-link {
    color: #0366d6;
}

.mainblock {
    width: 100%;
    height: 100%;
    background-color: #28293A;
    overflow-y: auto;
    overflow-x: auto;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

label {
    vertical-align: middle;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
    float: right;
    width: calc(100% - 250px);
    height: calc(100% - 32px);
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }


.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Based on https://github.com/binaryfunt/electron-seamless-titlebar-tutorial */
.headerbar {
    background-color: #14151E;
    position: relative;
    height: 32px;
    width: 100%;
    -webkit-app-region: drag;
}
    .header_icon {
        height: 10px;
        margin: 12px;
        display: block;
    }
#window-controls {
    display: grid;
    grid-template-columns: repeat(3, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
#window-controls-modal {
    display: grid;
    grid-template-columns: repeat(1, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

#window-controls .button, #window-controls-modal .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

    .headerbar  #btnMin {
        grid-column: 1;
    }

    .headerbar  #btnMax, #btnRestore{
        grid-column: 2;
    }

    .headerbar  #btnClose {
        grid-column: 3;
    }
    @media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5), (-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2), (-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
        #window-controls .icon {
            width: 10px;
            height: 10px;
        }
    }
    #window-controls {
        -webkit-app-region: no-drag;
    }

    #window-controls .button {
        user-select: none;
    }

    #window-controls .button:hover {
        background: rgba(255,255,255,0.1);
    }

    #window-controls .button:active {
        background: rgba(255,255,255,0.2);
    }

#btnClose:hover, #btnClose-modal:hover {
    background: #E81123 !important;
}

#btnClose:active, #btnClose-modal:active {
    background: #F1707A !important;
}

    #btnClose:active .icon, #btnClose-modal:active .icon {
        filter: invert(1);
    }

    #btnRestore {
        display: none !important;
    }
    #titlebar #drag-region {
        display: grid;
        grid-template-columns: auto 138px;
    }
#window-title-modal {
    position: relative;
    background-color: #14151E;
}
#window-title, #window-title-modal {
    color: white;
    grid-column: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    pointer-events: none
}
    #window-title #window-controls, #window-title-modal #window-controls-modal {
        cursor: pointer;
        pointer-events: all;
    }

    #window-title span, #window-title-modal span {
        position: absolute;
        width: 100%;
        pointer-events: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.5;
        text-align: center;
    }
    .maximized #titlebar {
        width: 100%;
        padding: 0;
    }

    .maximized #window-title {
        margin-left: 12px;
    }

    .maximized #btnRestore {
        display: flex !important;
    }

    .maximized #btnMax {
        display: none;
    }

.mainWindow {
    height: calc(100% - 32px);
    padding: 0;
    margin: 32px 0 0 0;
    width: 100vw;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    float: left;
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: column;
    }

    .sidebar {
        width: 250px;
        height: calc(100vh - 32px);
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse, .headerbar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

/* Steam/Settings/Advanced Clearing screen */
div.restoreRow {
    display: flex;
}
div.restoreLeft {
    float: left;
    margin-right: 1%;
    width: 59%;
}
div.restoreRight {
    word-break: break-word;
    overflow: auto;
    background-color: #222;
    width: 40%;
    border:solid #888 0.1em
}
div.advancedClearingButtonCol {
    font-size: 0.9rem;
}
    div.advancedClearingButtonCol .buttoncol {
        margin: 0.5em 0 0 0;
    }
#restoreUnderstand{
    margin-bottom: 1em;
}
.restorePage button {
    margin: 0 !important;
}
.restoreRight #lines {
    max-height: 1px;
}
.restoreRight #lines p {
    margin: 0;
}