@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");
@font-face {
  font-family: "Catamaran", sans-serif;
  src: url("/css/font/Catamaran-VariableFont_wght.ttf") format("ttf");
}
@font-face {
  font-family: "Raleway", sans-serif;
  src: url("/css/font/Raleway-VariableFont_wght.ttf") format("ttf");
}
/* v (Nessecary for disabling the red highlight saying vars not found [as they're added dynamically later]) v */
/* ReSharper disable CssNotResolved */
:root {
  --resizeBarSize: 7px;
  --accent: HSL(40, 100%, 50%);
  --accentHS: 40, 100%;
  --accentL: 50%;
  --accentInt: 255, 153, 0;
}

html,
body {
  font-family: "Catamaran", sans-serif;
  font-weight: 500;
  font-size: 12px;
  /* THIS SCALES EVERYTHING UP AND DOWN */
  max-width: 100%;
  overflow-x: hidden;
}

html {
  background: #253340;
}

body {
  background: #0E1419;
}

.mainblock {
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

app {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label {
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.programMain {
  position: relative;
  width: calc(100% - var(--resizeBarSize) * 2);
  height: calc(100% - var(--resizeBarSize));
  margin: 0 var(--resizeBarSize) var(--resizeBarSize) var(--resizeBarSize);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
  background: linear-gradient(90deg, #11181d, #0E1419 100%);
}

/* Based on https://github.com/binaryfunt/electron-seamless-titlebar-tutorial */
.headerbar {
  z-index: 5;
  background: #253340;
  position: relative;
  height: 32px;
  width: 100%;
  -webkit-app-region: drag;
}

.header_icon {
  height: 10px;
  margin: 12px;
  display: block;
  fill: white;
}

.updateBar {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  background: var(--accent);
  color: black;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#window-controls-modal {
  display: grid;
  grid-template-columns: repeat(1, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#btnBack {
  width: 46px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: all;
  margin-top: -2px;
}

#window-controls,
#btnBack {
  background: #253340;
}

#btnBack .resizeTop {
  width: 46px !important;
  background: none !important;
}

#window-controls button,
#window-controls-modal button {
  grid-row: 1/span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#btnBack,
#window-controls button,
#window-controls-modal button {
  background: none;
  border: none;
  margin: 0;
}

.headerbar #btnMin {
  position: relative;
  grid-column: 1;
}
.headerbar #btnMax,
.headerbar #btnRestore {
  position: relative;
  grid-column: 2;
}
.headerbar #btnClose {
  position: relative;
  grid-column: 3;
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5), (-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2), (-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}
#window-controls {
  -webkit-app-region: no-drag;
}
#window-controls button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#window-controls button:hover,
#btnBack:hover {
  background: #3B4853;
}

#window-controls button:active,
#btnBack:active {
  background: #3B4853;
}

/* Resize bars and corners */
.resize {
  /* Positions */
  /* Corners */
  /* Sides */
  /* Cursors */
}
.resizeTopLeft, .resizeTop, .resizeTopRight, .resizeRight, .resizeBottomRight, .resizeBottom, .resizeBottomLeft, .resizeLeft {
  -webkit-app-region: drag;
  position: absolute;
  background: #253340;
}
.resizeTop, .resizeTopLeft, .resizeTopRight {
  top: 0;
}
.resizeBottom, .resizeBottomLeft, .resizeBottomRight {
  bottom: 0;
}
.resizeLeft, .resizeTopLeft, .resizeBottomLeft {
  left: 0;
}
.resizeRight, .resizeTopRight, .resizeBottomRight {
  right: 0;
}
.resizeTopLeft, .resizeTopRight, .resizeBottomRight, .resizeBottomLeft {
  width: var(--resizeBarSize);
  height: var(--resizeBarSize);
  z-index: 2;
  /* background-color: pink; */
}
.resizeTop {
  width: calc(100% - 138px);
  pointer-events: all;
  background: none !important;
}
.resizeBottom {
  width: 100%;
}
.resizeTop, .resizeBottom {
  height: var(--resizeBarSize);
  z-index: 1;
  /* background-color: lime; */
}
.resizeLeft, .resizeRight {
  width: var(--resizeBarSize);
  height: 100%;
  z-index: 1;
  /* background-color: lime; */
}
.resizeTopLeft {
  cursor: nw-resize;
}
.resizeTop {
  cursor: n-resize;
}
.resizeTopRight {
  cursor: ne-resize;
}
.resizeRight {
  cursor: e-resize;
}
.resizeBottomRight {
  cursor: se-resize;
}
.resizeBottom {
  cursor: s-resize;
}
.resizeBottomLeft {
  cursor: sw-resize;
}
.resizeLeft {
  cursor: w-resize;
}

/* Sides in window buttons */
#btnClose .resizeTop,
#btnMin .resizeTop,
#btnMax .resizeTop,
#btnRestore .resizeTop,
#btnBack .resizeTop {
  width: 100%;
  background-color: transparent;
}

#btnClose .resizeRight,
#btnClose .resizeTopRight,
#btnBack .resizeTop,
#btnBack .resizeLeft,
#btnBack .resizeTopLeft {
  background-color: transparent;
}

#btnClose:hover,
#btnClose-modal:hover {
  background: #D51426 !important;
}

#btnClose:active,
#btnClose-modal:active {
  background: #D51426 !important;
}

#btnClose:active .icon,
#btnClose-modal:active .icon {
  filter: invert(1);
}

#btnRestore {
  display: none !important;
}

#titlebar #drag-region {
  display: grid;
  grid-template-columns: auto 138px;
}

#window-title-modal {
  position: relative;
  background: #253340;
  min-height: 34px;
}

#window-title,
#window-title-modal {
  color: white;
  grid-column: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
  pointer-events: none;
}

#window-title #window-controls,
#window-title-modal #window-controls-modal {
  cursor: pointer;
  pointer-events: all;
}

#window-title span,
#window-title-modal span {
  position: absolute;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
  text-align: center;
}

.maximised #titlebar {
  width: 100%;
  padding: 0;
}

.maximised #window-title {
  margin-left: 12px;
}

.maximised #btnRestore {
  display: flex !important;
}

.maximised #btnMax {
  display: none;
}

.mainWindow {
  height: calc(100% - 32px);
  padding: 0;
  margin: 32px 0 0 0;
  width: 100vw;
}

.content {
  padding-top: 1.1rem;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px #000;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

/* Steam/Settings/Advanced Clearing screen */
div.clearingRow {
  display: flex;
}

div.clearingLeft {
  float: left;
  margin-right: 1%;
  width: 59%;
}

div.clearingRight {
  word-break: break-word;
  overflow: auto;
  background: #0E1419;
  width: 40%;
  border: solid #888 0.1em;
  padding: 0.5em;
}

div.advancedClearingButtonCol {
  font-size: 0.9rem;
}

div.advancedClearingButtonCol .buttoncol {
  margin: 0.5em 0 0 0;
}

#restoreUnderstand {
  margin-bottom: 1em;
}

.clearingPage button {
  margin: 0 !important;
}

.clearingRight #lines {
  max-height: 1px;
}

.clearingRight #lines p {
  margin: 0;
}

/* Forgotten Steam account */
.forgottenListActions {
  text-align: end;
}

.forgottenList {
  display: flex;
  margin-bottom: 2em;
}
.forgottenList select {
  overflow: auto;
  background: #0E1419;
  border: solid #888 0.1em;
  color: white;
  width: 100%;
  padding: 0.5em;
}
.forgottenList select:focus {
  border: solid #888 0.1em;
}
.forgottenList select option {
  /*
      Workaround to set color BECAUSE YOU CAN'T SET TEXT COLOR?!
      This is for showing the arrow before, and the SteamID afterwards in a different color
  */
}
.forgottenList select option:checked {
  box-shadow: 0 0 10px 100px var(--accent) inset;
  color: white;
}
.forgottenList select option:checked::before {
  color: var(--accent);
  /* margin-left: 0.5em; */
}
.forgottenList select option:checked::after {
  content: attr(visible-content);
  color: #8BE9FD;
}
.forgottenList select option::before {
  content: ">";
  color: var(--accent);
  margin-right: 0.5em;
}
.forgottenList select option::after {
  content: attr(visible-content);
  color: #8BE9FD;
}

.btn_RestoreSelected {
  margin-right: 1em !important;
  padding: 0.25em 3em !important;
}

.platformContainer {
  width: 100%;
  height: calc(100% - 42px);
  position: relative;
  display: table;
  text-align: center;
}

.platform_list {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: table-cell;
  vertical-align: middle;
}

/* ---------------------------------------- */
/*          PLATFORM ICONS SECTION          */
/* ---------------------------------------- */
.platform_list_item {
  width: 20vw;
  height: 20vw;
  display: inline-block;
  cursor: pointer;
  /* ReSharper disable once InvalidValue */
  border: #8BE9FD 1px solid;
  margin: 10px;
  transition: all 100ms ease-in-out;
  transform: scale(1);
  box-shadow: none;
  font-family: Raleway, sans-serif;
  font-weight: 900;
  -webkit-text-stroke: 0.1vw #00a5f8;
  color: transparent;
}
.platform_list_item .fgText {
  position: absolute;
  height: 6.666666666vw;
  width: calc(20vw - 3px);
  bottom: 0;
  z-index: 10;
}
.platform_list_item .fgText p {
  font-size: 2.5vw;
  line-height: 1em;
  height: fit-content;
  padding: 0 !important;
  bottom: 0px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.platform_list_item .noImageCenterText {
  height: 20vw;
}
.platform_list_item .shortText p {
  font-size: 3.5vw;
}
.platform_list_item .longText p {
  font-size: 2vw;
}
.platform_list_item .fgImg {
  position: absolute;
  height: 13.3333333vw;
  width: 100%;
  z-index: 10;
}
.platform_list_item .fgImg svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 50%;
  max-height: 90%;
}
.platform_list_item .icoGlass {
  transition: 500ms all ease-in;
}
.platform_list_item:hover:not(:active) {
  transform: scale(1.025);
  filter: brightness(97%) saturate(1.1) contrast(102%);
  animation: pulse 2s infinite;
}
.platform_list_item:hover svg {
  filter: brightness(97%) saturate(1.05) contrast(102%);
  z-index: 1;
}
.platform_list_item:hover svg .icoGlass {
  transform: scale(1.05);
}
.platform_list_item:active {
  transform: scale(0.98);
  filter: brightness(95%) saturate(1.05);
  box-shadow: none;
}
.platform_list_item:active svg {
  filter: brightness(95%) saturate(1.05);
}
.platform_list_item:active svg .icoGlass {
  transform: scale(0.9);
}

.ico {
  /* ALL */
}
.icoBG {
  background: linear-gradient(0deg, #253340 0%, #253340 0%, #202123 100%, #00d4ff 202123%);
}
.icoFG {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
  fill: #00a5f8;
}
.icoGlass {
  fill: rgba(255, 255, 255, 0.02);
}

/* Modal icons */
.modalIcoGitHub, .modalIcoNetworking, .modalIcoDoc {
  fill: white;
}

/* BattleNet icons */
.battlenetIcoOWTank, .battlenetIcoOWDamage, .battlenetIcoOWSupport {
  fill: white;
}

/* Riot icons */
.riotIcoLeague, .riotIcoRuneterra {
  fill: #ffd755;
}
.riotIcoValorant {
  fill: #ff5555;
}

/* Footer icons */
.footerIcoSettings, .footerIcoQuestion {
  fill: white;
}
