/* ReSharper disable CssNotResolved */
/*
    * This file requiers compilation before it can be used in the final program.
    * If you're editing the source code, you might need one of the following to compile on build/save:
    *
    * Install Web Compiler into your Visual Studio (https://marketplace.visualstudio.com/items?itemName=MadsKristensen.WebCompiler)
    * [Source and more info: https://github.com/madskristensen/WebCompiler]
*/
/* Buttons */
button,
.button {
  text-align: center;
  background: #274560;
  border-color: #274560;
  border-radius: 0;
  border-style: solid;
  border-width: 0.1em;
  box-shadow: none;
  color: white;
  cursor: pointer;
  margin: 0 0.25em;
  padding: 0.25em 0.651em;
  transition: ease-in-out 60ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: max-content;
  /* Button children */
}
button:active, button:target,
.button:active,
.button:target {
  background: #28374E !important;
  border-color: var(--accent) !important;
}
button:hover,
.button:hover {
  background: #28374E;
  border-color: #274560;
}
button span,
.button span {
  line-height: 2.5em;
}
button svg,
.button svg {
  width: 1.5em;
}
button svg.footerIcoInline,
.button svg.footerIcoInline {
  fill: white;
  color: white;
  height: 1em;
  width: auto;
  margin: 0 2px 2px 2px;
  -webkit-user-drag: none;
}

.show > .dropdown-toggle {
  background: #28374E !important;
  border-color: var(--accent) !important;
}

/* Dropdown */
button .caret, .button .caret {
  margin-left: 0;
}

.button input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.rowDropdown {
  display: inline-block;
  padding: 5px 0 2px 0;
  margin-right: 1em;
  width: 100%;
}

.dropdown {
  display: inline-block;
  padding: 0;
  overflow: visible;
}
.dropdown-toggle {
  margin-bottom: 4px;
  position: relative;
  z-index: 9;
}
.dropdown-menu {
  padding: 0.5rem 0;
  border-style: solid;
  background: #274560;
  border-color: #274560;
  border-width: 0.1em;
  -webkit-box-shadow: 0 0 15px 3px #000;
  -webkit-box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: 0 0 15px 3px #000;
  -moz-box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.84);
  box-shadow: 0 0 15px 3px #000;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.84);
}
.dropdown-item {
  padding: 0.5rem 1rem;
  color: white;
}
.dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:target {
  color: white;
  background: #28374E !important;
}
.dropdown-item:hover {
  cursor: pointer;
  color: white;
  background: #28374E;
}

.dropdown,
.custom-dropdown-menu,
.custom-dropdown-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-dropdown-menu {
  z-index: 10;
  max-height: 60vh;
  overflow-y: auto;
}

/* Text Editor */
.text-editor {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.text-editor .editor-container {
  position: relative;
  margin: 0.5em;
}
.text-editor .editor-container #editor {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.text-editor .d-flex {
  padding: 0 0.5em 0.5em 0;
}
.text-editor .d-flex button, .text-editor .d-flex .button {
  margin: 0 0 0 0.5em;
}

/* Other */
.listWithBars ul {
  padding-left: 0;
}
.listWithBars ul li {
  display: inline-block;
}
.listWithBars ul li:first-of-type::before {
  content: none;
}
.listWithBars ul li::before {
  content: "  |  ";
}

.subtext {
  font-size: 0.8em;
}

/* Ace Editor */
.ace_editor {
  background: #282a36;
  color: #f8f8f2;
}
.ace_editor .ace_gutter {
  background: #282a36;
  color: #909194;
}
.ace_editor .ace_print-margin {
  width: 1px;
  background: #44475a;
}
.ace_editor .ace_cursor {
  color: #F8F8F0;
}
.ace_editor.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #282a36;
  border-radius: 2px;
}
.ace_editor .ace_marker-layer .ace_selection {
  background: #44475a;
}
.ace_editor .ace_marker-layer .ace_step {
  background: #c6dbae;
}
.ace_editor .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #a29709;
}
.ace_editor .ace_marker-layer .ace_active-line {
  background: #44475a;
}
.ace_editor .ace_marker-layer .ace_selected-word {
  border: 0px 0px 0px 1px #a29709;
  border-radius: 3px;
}
.ace_editor .ace_gutter-active-line {
  background: #44475a;
}
.ace_editor .ace_invisible {
  color: #626680;
}
.ace_editor .ace_keyword, .ace_editor .ace_meta {
  color: #ff79c6;
}
.ace_editor .ace_constant, .ace_editor .ace_constant.ace_character, .ace_editor .ace_constant.ace_character.ace_escape, .ace_editor .ace_constant.ace_other, .ace_editor .ace_heading, .ace_editor .ace_markup.ace_heading, .ace_editor .ace_support.ace_constant {
  color: #CF6A4C;
}
.ace_editor .ace_constant.ace_numeric {
  color: #bd93f9;
}
.ace_editor .ace_constant.ace_character {
  color: #bd93f9;
}
.ace_editor .ace_constant.ace_character.ace_escape {
  color: #ff79c6;
}
.ace_editor .ace_constant.ace_other {
  color: #bd93f9;
}
.ace_editor .ace_language {
  color: #bd93f9;
}
.ace_editor .ace_numeric {
  color: #bd93f9;
}
.ace_editor .ace_invalid.ace_illegal {
  color: #F8F8F0;
  background: #ff79c6;
}
.ace_editor .ace_invalid.ace_deprecated {
  text-decoration: underline;
  font-style: italic;
  color: #F8F8F0;
  background: #F8F8F0;
}
.ace_editor .ace_support {
  color: #9B859D;
}
.ace_editor .ace_support .ace_function {
  color: var(--ace_editor_functionColor);
}
.ace_editor .ace_support .ace_class {
  font-style: italic;
  color: #66d9ef;
}
.ace_editor .ace_support .ace_type {
  font-style: italic;
  color: #66d9ef;
}
.ace_editor .ace_fold {
  background: #50fa7b;
  border-color: #f8f8f2;
}
.ace_editor .ace_list, .ace_editor .ace_markup.ace_list, .ace_editor .ace_storage {
  color: #F9EE98;
}
.ace_editor .ace_entity.ace_name.ace_function, .ace_editor .ace_meta.ace_tag {
  color: #AC885B;
}
.ace_editor .ace_string {
  color: #f1fa8c;
}
.ace_editor .ace_string.ace_regexp {
  color: #E9C062;
}
.ace_editor .ace_comment {
  font-style: italic;
  color: #6272a4;
}
.ace_editor .ace_variable {
  color: #50fa7b;
}
.ace_editor .ace_variable.ace_parameter {
  font-style: italic;
  color: #ffb86c;
}
.ace_editor .ace_xml-pe {
  color: #494949;
}
.ace_editor .ace_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYHB3d/8PAAOIAdULw8qMAAAAAElFTkSuQmCC) right repeat-y;
}

/* SHORTCUTS for basic platforms */
.shortcuts, .shortcutDropdown {
  border: 1px solid #274560;
  background: linear-gradient(90deg, #11181d, #0e1419 100%);
  width: fit-content;
  padding: 1px;
  max-width: 260px;
}
.shortcuts button, .shortcuts .button, .shortcuts .shortcutPlaceholder, .shortcutDropdown button, .shortcutDropdown .button, .shortcutDropdown .shortcutPlaceholder {
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  margin: 1px;
}
.shortcuts button, .shortcuts .button, .shortcutDropdown button, .shortcutDropdown .button {
  padding: 3px;
}
.shortcuts img, .shortcutDropdown img {
  height: 100%;
  width: 100%;
}

#shortcutDropdownBtn {
  min-width: 36px;
  min-height: 36px;
  max-width: 36px;
  max-height: 36px;
  margin: 0 0.25em 0 0;
}
#shortcutDropdownBtn i {
  transition: all 150ms ease-out;
}
#shortcutDropdownBtn.flip {
  border-color: var(--accent) !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#shortcutDropdownBtn.flip i {
  transform: rotate(180deg);
}

/* For sortable */
.shortcutPlaceholder {
  border: 2px dashed var(--accent);
  background: #13222f;
}

.gameShortcuts,
.preview_list_item,
.streamerCensor,
.steamId,
.displayName,
.paginationButton {
  /* Empty to keep compiler quiet */
}

.shortcuts {
  height: 100%;
  overflow: visible;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-right: none;
}
.shortcuts:hover {
  padding: 1px;
}
.shortcuts:empty {
  padding: 0;
  border: none;
}
.shortcuts.expandShortcuts {
  padding-left: 33px;
  border: 1px solid #274560;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.shortcutDropdown {
  position: absolute;
  z-index: 500;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 36px;
  min-height: 36px;
  max-height: 260px;
}
.shortcutDropdown .shortcutDropdownItems {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: inherit;
  min-height: 32px;
}
.shortcutDropdown .shortcutDropdownItems img {
  pointer-events: none;
}
.shortcutDropdown #btnOpenShortcutFolder {
  position: absolute;
  right: -38px;
  top: 50%;
  transform: translateY(calc(-50% - 1px));
}
.shortcutDropdown #btnOpenShortcutFolder, .shortcutDropdown button {
  min-width: 36px;
  min-height: 36px;
  max-width: 36px;
  max-height: 36px;
}

#btnStartPlat {
  min-width: 36px;
  min-height: 36px;
  max-width: 36px;
  max-height: 36px;
  padding: 0.5em;
}
#btnStartPlat img {
  width: 100%;
  height: 100%;
}

/* Path picker */
.pathPicker {
  color: white;
  background: #070a0d;
  width: calc(100% - 2em);
  max-width: 900px;
  max-height: 50vh;
  padding: 1em;
  margin: 1em auto;
  overflow: auto;
  min-width: 600px;
}
.pathPicker .c, .pathPicker .c::before {
  color: var(--accent) !important;
}
.pathPicker div {
  padding-left: 1em;
}
.pathPicker div:not(:first-child) {
  border-left: 1px solid #00252c;
}
.pathPicker span {
  line-height: 1.4em;
  display: block;
  cursor: pointer;
  user-select: none;
}
.pathPicker span:not(.c):hover {
  color: #b1f2ff;
}
.pathPicker span::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.3em;
  content: "\f15b";
  margin-right: 7px;
  color: #FFE9A2;
}
.pathPicker span.folder::before {
  content: "\f07b";
  margin-right: 5px;
  color: #FDB900;
}
.pathPicker span.head::before {
  content: "\f07c";
  margin-right: 5px;
}
.pathPicker span.head {
  margin-left: -1em;
}
.pathPicker span.suggested {
  background: #006215;
}
.pathPicker span.selected-path, .pathPicker spanselected-path::before {
  color: var(--accent) !important;
  background-color: #0E1419;
}

.toastarea {
  display: flex;
  flex-flow: column;
  flex-direction: column-reverse;
}

.notification {
  align-self: end;
}

.accNotesContainer {
  position: relative;
  /*&::after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;

      content: "\f424";
      right: -18px;
      bottom: -3px;
      pointer-events: none;
      position: absolute;
      -webkit-transform: rotate(-90deg);
  }*/
}

.hideAfter::before {
  display: none;
}

button * {
  pointer-events: none;
}

/* New tooltip */
.tooltip-wrapper {
  position: relative;
  /*cursor: help;*/
  overflow: hidden;
}
.tooltip-wrapper:hover {
  overflow: visible;
}
.tooltip-wrapper:not(:active):hover span {
  visibility: visible;
}
.tooltip-wrapper > span {
  position: fixed;
  pointer-events: none;
  visibility: hidden;
  background-color: var(--tooltipBackground);
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  z-index: 5000;
  min-width: 80px;
  max-width: 180px;
  max-height: 180px;
  overflow-wrap: break-word;
}
.tooltip-wrapper > span::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--tooltipBackground) transparent transparent transparent;
}
.tooltip-wrapper span.tooltip-wrapper-left::before {
  top: calc(50% - 5px);
  left: calc(100% + 5px);
  border-color: transparent transparent transparent var(--tooltipBackground);
}
.tooltip-wrapper span.tooltip-wrapper-right::before {
  top: calc(50% - 5px);
  left: -5px;
  border-color: transparent var(--tooltipBackground) transparent transparent;
}
.tooltip-wrapper span.tooltip-wrapper-bottom::before {
  top: -10px;
  left: 50%;
  border-color: transparent transparent var(--tooltipBackground) transparent;
}
