/* ReSharper disable CssNotResolved */

/*
    * This file requiers compilation before it can be used in the final program.
    * If you're editing the source code, you might need one of the following to compile on build/save:
    *
    * Install Web Compiler into your Visual Studio (https://marketplace.visualstudio.com/items?itemName=MadsKristensen.WebCompiler)
    * [Source and more info: https://github.com/madskristensen/WebCompiler]
*/

/* Buttons */
button,
.button {
    text-align: center;
    background: #274560;
    border-color: #274560;
    border-radius: 0;
    border-style: solid;
    border-width: 0.1em;
    box-shadow: none;
    color: white;
    cursor: pointer;
    margin: 0 0.25em;
    padding: 0.25em 0.651em;
    transition: ease-in-out 60ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: max-content;

    &:active,
    &:target {
        background: #28374E !important;
        border-color: var(--accent) !important;
    }

    &:hover {
        background: #28374E;
        border-color: #274560;
    }
    /* Button children */
    & span {
        line-height: 2.5em;
    }

    & svg {
        width: 1.5em;

        &.footerIcoInline {
            fill: white;
            color: white;
            height: 1em;
            width: auto;
            margin: 0 2px 2px 2px;
            -webkit-user-drag: none;
        }
    }
}

.show > .dropdown-toggle {
  background: #28374E !important;
  border-color: var(--accent) !important;
}


/* Dropdown */
button .caret, .button .caret {
    margin-left: 0;
}

.button input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.rowDropdown {
  display: inline-block;
  padding: 5px 0 2px 0;
  margin-right: 1em;
  width: 100%;
}

.dropdown {
  display: inline-block;
  padding: 0;
  overflow: visible;

  &-toggle {
    margin-bottom: 4px;
    position: relative;
    z-index: 9;
  }

  &-menu {
    padding: 0.5rem 0;
    border-style: solid;
    background: #274560;
    border-color: #274560;
    border-width: 0.1em;
    -webkit-box-shadow: 0 0 15px 3px #000;
    -webkit-box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.84);
    -moz-box-shadow: 0 0 15px 3px #000;
    -moz-box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.84);
    box-shadow: 0 0 15px 3px #000;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.84);
  }

  &-item {
    padding: 0.5rem 1rem;
    color: white;

    &.active,
    &:active,
    &:focus,
    &:target {
      color: white;
      background: #28374E !important;
    }

    &:hover {
      cursor: pointer;
      color: white;
      background: #28374E;
    }
  }
}

.dropdown,
.custom-dropdown-menu,
.custom-dropdown-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom-dropdown-menu {
  z-index: 10;
  max-height: 60vh;
  overflow-y: auto;
}

/* Text Editor */
.text-editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    & .editor-container {
        position: relative;
        margin: 0.5em;

        & #editor {
            margin: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    & .d-flex {
        padding: 0 0.5em 0.5em 0;

        & button, & .button {
            margin: 0 0 0 0.5em;
        }
    }
}

/* Other */
.listWithBars {
    ul {
        padding-left: 0;

        li {
            display: inline-block;

            &:first-of-type::before {
                content: none;
            }

            &::before {
                content: "  |  "
            }
        }
    }
}

/* Ace Editor */
.ace_editor {
  background: #282a36;
  color: #f8f8f2;

  & .ace_gutter {
    background: #282a36;
    color: rgb(144,145,148);
  }

  & .ace_print-margin {
    width: 1px;
    background: #44475a;
  }

  & .ace_cursor {
    color: #F8F8F0;
  }

  &.ace_multiselect .ace_selection.ace_start {
    box-shadow: 0 0 3px 0px #282a36;
    border-radius: 2px;
  }

  & .ace_marker-layer {
    & .ace_selection {
      background: #44475a;
    }

    & .ace_step {
      background: rgb(198, 219, 174);
    }

    & .ace_bracket {
      margin: -1px 0 0 -1px;
      border: 1px solid #a29709;
    }

    & .ace_active-line {
      background: #44475a;
    }

    & .ace_selected-word {
      border: 0px 0px 0px 1px #a29709;
      border-radius: 3px;
    }
  }

  & .ace_gutter-active-line {
    background: #44475a;
  }

  & .ace_invisible {
    color: #626680;
  }

  & .ace_keyword,
  & .ace_meta {
    color: #ff79c6;
  }

  & .ace_constant,
  & .ace_constant.ace_character,
  & .ace_constant.ace_character.ace_escape,
  & .ace_constant.ace_other,
  & .ace_heading,
  & .ace_markup.ace_heading,
  & .ace_support.ace_constant {
    color: #CF6A4C;
  }

  & .ace_constant {
    &.ace_numeric {
      color: #bd93f9;
    }

    &.ace_character {
      color: #bd93f9;
    }

    &.ace_character.ace_escape {
      color: #ff79c6;
    }

    &.ace_other {
      color: #bd93f9;
    }
  }

  & .ace_language {
    color: #bd93f9;
  }

  & .ace_numeric {
    color: #bd93f9;
  }

  & .ace_invalid {
    &.ace_illegal {
      color: #F8F8F0;
      background: #ff79c6;
    }

    &.ace_deprecated {
      text-decoration: underline;
      font-style: italic;
      color: #F8F8F0;
      background: #F8F8F0;
    }
  }

  & .ace_support {
    color: #9B859D;

    & .ace_function {
      color: var(--ace_editor_functionColor);
    }

    & .ace_class {
      font-style: italic;
      color: #66d9ef;
    }

    & .ace_type {
      font-style: italic;
      color: #66d9ef;
    }
  }

  & .ace_fold {
    background: #50fa7b;
    border-color: #f8f8f2;
  }

  & .ace_list,
  & .ace_markup.ace_list,
  & .ace_storage {
    color: #F9EE98;
  }

  & .ace_entity.ace_name.ace_function,
  & .ace_meta.ace_tag {
    color: #AC885B;
  }

  & .ace_string {
    color: #f1fa8c;
  }

  & .ace_string.ace_regexp {
    color: #E9C062;
  }

  & .ace_comment {
    font-style: italic;
    color: #6272a4;
  }

  & .ace_variable {
    color: #50fa7b;

    &.ace_parameter {
      font-style: italic;
      color: #ffb86c;
    }
  }

  & .ace_xml-pe {
    color: #494949;
  }

  & .ace_indent-guide {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYHB3d/8PAAOIAdULw8qMAAAAAElFTkSuQmCC) right repeat-y;
  }
}

/* SHORTCUTS for basic platforms */
.shortcuts, .shortcutDropdown {
    border: 1px solid #274560;
    background: linear-gradient(90deg,#11181d,#0e1419 100%);
    width: fit-content;
    padding: 1px;
    max-width: 260px;

    button, .button, .shortcutPlaceholder {
        min-width: 30px;
        min-height: 30px;
        max-width: 30px;
        max-height: 30px;
        margin: 1px;
    }

    button, .button {
        padding: 3px;
    }

    img {
        height: 100%;
        width: 100%;
    }
}
#shortcutDropdownBtn {
    min-width: 36px;
    min-height: 36px;
    max-width: 36px;
    max-height: 36px;
    margin: 0 .25em 0 0;

    i {
        transition: all 150ms ease-out;
    }

    &.flip {
        border-color: var(--accent) !important;

        i {
            transform: rotate(180deg);
        }
    }
}
/* For sortable */
.shortcutPlaceholder {
    border: 2px dashed var(--accent);
    background: #13222f;
}
.shortcuts {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-right: none;

    &:hover {
        padding: 1px;
    }

    &:empty {
        padding: 0;
        border: none;
    }

    &.expandShortcuts {
        padding-left: 33px;
        border: 1px solid #274560;
    }
}
.shortcutDropdown {
    position: absolute;
    z-index: 500;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: flex;
    flex-wrap: wrap;
    min-width: 36px;
    min-height: 36px;
    max-height: 260px;
    overflow-x: hidden;
    overflow-y: auto;

    #btnOpenShortcutFolder {
        position: absolute;
        right: -38px;
        top: 50%;
        transform: translateY(calc(-50% - 1px));
        min-width: 36px;
        min-height: 36px;
        max-width: 36px;
        max-height: 36px;
    }
}

#btnStartPlat {
    min-width: 36px;
    min-height: 36px;
    max-width: 36px;
    max-height: 36px;
    padding: .5em;

    img {
        width: 100%;
        height: 100%;
    }
}

/* Path picker */
.pathPicker {
    color: white;
    background: #070a0d;
    width: calc(100% - 2em);
    max-width: 900px;
    max-height: 50vh;
    padding: 1em;
    margin: 1em auto;
    overflow: auto;
    min-width: 600px;

    .c, .c::before {
        color: var(--accent) !important;
    }

    div {
        padding-left: 1em;

        &:not(:first-child) {
            border-left: 1px solid #00252c
        }
    }

    span {
        line-height: 1.4em;
        display: block;
        cursor: pointer;
        user-select: none;

        &:not(.c):hover {
            color: #b1f2ff
        }

        &::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-right: 0.3em;
            content: "\f15b";
            margin-right: 7px;
            color: #FFE9A2;
        }

        &.folder::before {
            content: "\f07b";
            margin-right: 5px;
            color: #FDB900;
        }

        &.head::before {
            content: "\f07c";
            margin-right: 5px;
        }

        &.head {
            margin-left: -1em;
        }

        &.suggested {
            background: #006215;
        }

        &.selected-path, &selected-path::before {
            color: var(--accent) !important;
            background-color: #0E1419;
        }
    }
}


.tooltip-inner {
    white-space: pre-wrap;
}