/*
    Webcompiler doesn't like these values, so this needs to be in a seperate .css file.
*/
/* ReSharper disable CssNotResolved */
/* ReSharper disable RequiresFallbackColor */ /* Chrome is default the ONLY browser - CEF/WebView */

:root {
    /* All these extra accent steps and redefinitions are required for Windows accent options */
    /* Elements that use these will be set by either Windows Accent or Theme */
    --accent: #00d4ff; /* Must be HEX */
    --accentHS: 190, 100%; /* "H, S%" from accent as HSL */
    --accentL: 50%; /* "L" from accent HSL */
    --accentInt: 0, 212, 255; /* accent as "r, g, b" */
    /* Automatic accent variations */
    /* ReSharper disable InvalidValue */
    /* ReSharper disable Redundant */
    --accentDark: hsl(var(--accentHS), calc(var(--accentL) - 20%));
    --accentDarker: hsl(var(--accentHS), calc(var(--accentL) - 40%));
    --accentDarkest: hsl(var(--accentHS), calc(var(--accentL) - 60%));
    /* ReSharper restore Redundant */
    /* ReSharper restore InvalidValue */
    /* Notification colours */
    --notification-main-bg: #274560;
    --notification-info-border: rgba(3, 166, 240, .25);
    --notification-info-highlight: rgb(3, 166, 240);
    --notification-success-border: rgba(80, 250, 123, .25);
    --notification-success-highlight: rgb(80, 250, 123);
    --notification-warning-border: rgba(255, 184, 108, .25);
    --notification-warning-highlight: rgb(255, 184, 108);
    --notification-error-border: rgba(255, 85, 85, .25);
    --notification-error-highlight: rgb(255, 85, 85);
}

::selection {
    color: #FFF;
    background: var(--accent);
}

.linksList a, .fancyLink {
    color: var(--accent);
    cursor: pointer;
    margin: 1px 0;
    text-decoration: none;
}

/* ReSharper disable InvalidValue */
.linksList a:hover, .fancyLink:hover {
    color: hsl(var(--accentHS), calc(var(--accentL) - 5%));
}

.linksList a:active, .fancyLink:active {
    color: hsl(var(--accentHS), calc(var(--accentL) - 10%));
}
/* ReSharper restore InvalidValue */

/* ---------------------------------------- */
    /*                ANIMATIONS                */
    /* ---------------------------------------- */

/* ReSharper disable InvalidValue */
    @keyframes pulse {
        0% {
            transform: scale(1);
            box-shadow: 0 0 0 0 rgba(var(--accentInt), 70%);
        }

        70% {
            transform: scale(1.02);
            box-shadow: 0 0 0 10px rgba(var(--accentInt), 0);
        }

        100% {
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba(var(--accentInt), 0);
        }
    }
/* ReSharper restore InvalidValue */