@*TcNo Account Switcher - A Super fast account switcher
    Copyright (C) 2019-2022 TechNobo (Wesley Pyburn)
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses />.*@

@using TcNo_Acc_Switcher_Server.Shared.Modal
@using TcNo_Acc_Switcher_Server.Data
@using TcNo_Acc_Switcher_Globals
@using TcNo_Acc_Switcher_Server.Data.Settings
@using TcNo_Acc_Switcher_Server.Pages.General
@using Newtonsoft.Json
@using System.IO
@using System.Text.RegularExpressions
@using TcNo_Acc_Switcher_Server.Pages.Basic
@using TcNo_Acc_Switcher_Server.Pages.Steam
@inject IModalData ModalData
@inject IAppData AppData
@inject ILang Lang
@inject IGeneralFuncs GeneralFuncs

@code {

    [Parameter]
    public string RequestedPathType { get; set; } = "AnyFile";

    protected override void OnInitialized()
    {
        ModalData.Title = Lang["Modal_Title_ChangeUsername"];
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await AppData.InvokeVoidAsync("focusOn", "#NewAccountName");
    }

    private string _lastSelectedPath = "NONE"; // This MUST be set to something, or it will crawl EVERYTHING.
}

<div class="pathPicker">
    <div>
        <CascadingValue Value="@_lastSelectedPath">
            @foreach (var drive in LogicalDrivesList)
            {
                <PathPickerChildren CurrentPath="@drive" Depth="0"/>
            }
        </CascadingValue>
    </div>
</div>

@code
{
    //// Pressed Enter on the input
    //private async Task KeyPress(KeyboardEventArgs k)
    //{

    //}

    //// Clicked the Change Username button
    //private async Task FinaliseAccNameChange()
    //{
    //    AppData.SelectedAccount.NotifyDataChanged();

    //}
    public List<string> LogicalDrivesList
    {
        get
        {
            try
            {
                return Directory.GetLogicalDrives().ToList();
            }
            catch (Exception e)
            {
                Globals.WriteToLog("Could not list Logical Drives.", e);
                _ = GeneralFuncs.ShowToast("error", Lang["PathPicker_NoLogicalDrives"], renderTo: "toastarea");
                return new List<string>();
            }
        }
    }
}
